<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrasilCraft</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <div class="circle-image"></div>
        <div class="title">BrasilCraft</div>
        <a class="button" href="minecraft://?addExternalServer=BrasilCraft|brasilcraft.ninjaspmc.com.br:19048">Jogar</a>
        <div class="theme-toggle" onclick="toggleTheme()">Alternar Tema</div>
    </div>

    <script>
        function toggleTheme() {
            document.body.classList.toggle('dark-theme');
        }
    </script>
</body>
</html>